# bu klasorleri takip etme
/build
 

# bu uzantilara sahip dosyalari takip etme
*.class 
*.classpath 
*.project 
*.settings 
 
 
# Mobile Tools for Java (J2ME) 
.mtj.tmp/ 
 
# Package Files # 
*.jar 
*.war 
*.ear 
 
