<!DOCTYPE HTML5>
<html ng-app="app">
<head>
<meta charset="utf-8" />

<title>32Bit Ticket System</title>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./css/ui.jqgrid-bootstrap.css" />
<link rel="stylesheet" type="text/css" href="./css/ticket.css">

</head>

<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand">TicketSystem</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="nav_tickets" class="dropdown active">
						<a onclick="showTickets()" class="dropdown-toggle"
						data-toggle="dropdown" role="button"
						aria-expanded="false">Tickets<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Opened Tickets</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Cloesed Tickets</a></li>
						</ul></li>
					<li id="nav_users"><a href="#" onclick="showUsers()">Users</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a>Welcome  <b id="nav_nickname"></b></a></li>
					<li id="nav_profile"><a href="#" onclick="showProfile()">My
							Profile</a></li>
					<li><a href="#" onclick="logout()">Logout</a></li>
				</ul>
			</div>
			<!--navbar collapse -->
		</nav>
	</header>

	<div id="tickets_page">
		<!-- JQGRID Test -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<table id="tickets_jqGrid"></table>
				<div id="tickets_jqGridPager"></div>
			</div>
			<!-- com-md -->
		</div>
		<!-- row -- >
		<!--    Add Tickets Modal -->
		<div id="ticket_add_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">New Ticket</h4>
					</div>
					<div class="modal-body">
						<p id="ticket_add_msg"
							class="text-center text-warning lead"></p>

						<label>Department:</label>
						<div class="form-group">
							<select id="new_ticket_dep"></select>
						</div>

						<label>Priority:</label>
						<div class="form-group">
							<select id="new_ticket_prio">
								<option value="1">NORMAL</option>
								<option value="2">HIGH</option>
							</select>
						</div>

						<label>Title:</label>
						<div class="form-group">
							<input type="text" size="40" id="new_ticket_title">
						</div>

						<label>Message:</label>
						<div class="form-group">
							<textarea rows="9" cols="60" id="new_ticket_msg"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<button class="btn btn-success" onclick="sendTicket()">Send
							Ticket</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- modal content -->
			</div>
			<!-- modal-dialog-->
		</div>
		<!--    Add Tickets Modal -->
	</div>
	<!-- Tickets div -->


	<div id="users_page">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<table id="users_jqGrid"></table>
				<div id="users_jqGridPager"></div>
			</div>
		</div>
		<!-- row -->

		<!-- Add User Modal -->
		<div id="add_user_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add New User</h4>
					</div>
					<!-- modal header-->
					<div class="modal-body">
						<p id="add_user_msg" class="text-center text-warning lead"></p>
						<div class="form-group">
							<label>Full Name:</label>
							<input class="form-control" type="text" id="new_user_name" required />
						</div>

						<div class="form-group">
							<label>E-Mail:</label>
							<input class="form-control" type="text" id="new_user_email" required />
						</div>

						<div class="form-group">
							<label>Password:</label>
							<input class="form-control" type="text" id="new_user_password" required />
						</div>

						<div class="form-group">
							<label>Company:</label>
							<div class="row">
								<div class="col-md-6">
									<select class="form-control" id="new_user_company"></select>
								</div>
								<div class="col-md-6">
									<button class="btn btn-info" data-toggle="modal"
										data-target="#add_company_modal">Add New Company</button>
								</div>
							</div>
							<!-- row -->

						</div>

						<div class="from-group">
							<div class="checkbox form-control">
								<label class="checkbox-inline"><input type="checkbox"
									name="userRole" id="adminRole" checked>Admin</label> <label
									class="checkbox-inline"><input type="checkbox"
									name="userRole" id="supporterRole">Supporter</label> <label
									class="checkbox-inline"><input type="checkbox"
									name="userRole" id="clientRole">Client</label>
							</div>
						</div>

						<div class="form-group" style="display: none;" id="departmentFade">
							<label for="userDepartment">Department:</label>
							<div class="row">
								<div class="col-md-6">
									<select class="form-control" id="new_user_dep">
										<!-- departmanlar db den yüklenecek -->
									</select>
								</div>

								<div class="col-md-6">
									<button class="btn btn-info" data-toggle="modal"
										data-target="#add_dep_modal">Add New
										Department</button>

								</div>
							</div>
							<!-- row div- -->
						</div>
						<!-- form group div -->

					</div>
					<!-- modal body-->
					<div class="modal-footer">
						<button class="btn btn-success" onclick="addUser()">Add
							User</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
					<!-- modal footer -->
				</div>
				<!-- modal content -->
			</div>
			<!-- modal-dialog-->
		</div>
		<!-- Add User Modal -->


		<!-- Add Company Modal -->
		<div id="add_company_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add New Company</h4>
					</div>
					<div class="modal-body">
						<p class="text-center text-danger lead"
							id="add_company_msg"></p>
						<div class="form-group">
							<label>Name:<span class="text-danger">*</span></label> <input
								class="form-control" type="text" id="new_company_name" required />
						</div>
						<div class="form-group">
							<label>E-Mail:<span class="text-danger">*</span></label> <input
								class="form-control" type="text" id="new_company_email" required />
						</div>
						<div class="form-group">
							<label>Phone:</label> <input class="form-control" type="text"
								id="new_company_phone" />
						</div>
						<div class="form-group">
							<label>Fax:</label> <input class="form-control" type="text"
								id="new_company_fax" />
						</div>
						<div class="form-group">
							<label>Address:</label> <input class="form-control" type="text"
								id="new_company_address" />
						</div>
						<p>
							<span class="text-danger lead">*: Required</span>
						</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success" onclick="addCompany()">Add</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- modal content -->
			</div>
			<!-- modal-dialog-->
		</div>
		<!-- Add Company Modal -->


		<!-- Add Department Modal -->
		<div id="add_dep_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add New Department</h4>
					</div>
					<div class="modal-body">
						<p class="text-center text-danger lead"
							id="add_dep_msg"></p>
						<div class="form-group">
							<label>Name:<span class="text-danger">*</span></label><input
								class="form-control" type="text" id="new_dep_name" required />
						</div>
						<p>
							<span class="text-danger lead">*: Required</span>
						</p>
					</div>

					<div class="modal-footer">
						<button class="btn btn-success" onclick="addDepartment()">Add</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- modal content -->
			</div>
			<!-- modal-dialog-->
		</div>
		<!-- Add Department Modal -->

	</div>
	<!-- users div - -->

	<div id="profile_page" class="row"  style="display: none;">

		<div class="col-md-4 col-md-offset-4">

			<div class="table-responsive">
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
							<th colspan="2">Account Informations</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Name:</td>
							<td><b id="user_name"></b></td>
						</tr>
						<tr>
							<td>E-mail:</td>
							<td><b id="user_email"></b></td>
						</tr>
						<tr>
							<td>Roles:</td>
							<td><b id="user_roles">rolesHere</b></td>
						</tr>

						<tr>
							<td>Company:</td>
							<td><b id="user_company"></b></td>
						</tr>
						<tr>
							<th colspan="2"><b>Password</b></th>
						</tr>
						<tr>
							<td>New Password:</td>
							<td><input id="user_new_pass" type="password"></td>
						</tr>
						<tr>
							<td>Confirm New Password:</td>
							<td><input id="user_new_pass_c" type="password"></td>
						</tr>
						<tr>
							<td></td>
							<td><b id="pass_validate" style="color: red;"></b></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- main container-fluid -->
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<button id="user_update_btn" class="btn btn-success btn-block"
					onclick="updateProfile()" disabled>Save</button>
			</div>
		</div>
	</div>
	<!-- Profile div -->

<br><hr><br>
	<!-- Ticket Details -->
	<div id="ticket_details_page" style="display:none">

		<div class="row">

			<div class="col-md-8 col-md-offset-2">

				<div class="table-responsive">
					<table id="ticket_detail_table" class="table table-condensed table-bordered">
						<thead>
							<tr>
								<th colspan="2">Ticket Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Title:</td>
								<td><b id="ticket_title"></b></td>
							</tr>
							<tr>
								<td>Message:</td>
								<td><b id="ticket_message"></b></td>
							</tr>
							<tr>
								<td>Sender:</td>
								<td><b id="ticket_sender"></b></td>
							</tr>
							<tr>
								<td>Status:</td>
								<td><b id="ticket_status" style="color: green;"></b></td>
							</tr>
							<tr>
								<td>Date:</td>
								<td><b id="ticket_date"></b></td>
							</tr>
							<tr>
								<th colspan="2">Ticket Threads:</th>
							</tr>
							<tr>
								<table class="table table-bordered
								 			table-condensed" id="ticket_responses">
									<tbody>
									</tbody>
								</table>
							</tr>
							<tr>
								<td colspan="2"><label>Message:</label>
									<div class="form-group">
										<p id="add_resp_msg"></p>
										<textarea rows="9" cols="60" id="ticket_response_msg"></textarea><br>
										<p id="remainingC"></p>
										<br>
										<button id="sendTicketResponse" class="btn btn-success"
										onclick="sendTicketResponse()">Send Response</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- main container-fluid -->
			</div>
		</div>


	</div>
	<!-- Ticket Details -->




	<div id="user_modal_detail" ng-controller="PersonListCtrl">

<!-- BEGIN # USER MODAL DETAIL -->
	<div class="modal fade" id="user-detail-modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<h4>Kapat</h4>
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<h3>Kisi Bilgileri</h3>

				</div>

				<!-- Begin # DIV Form -->
				<div id="div-forms">

					<!-- Begin | Register Form -->
					<form id="register-form" method="post">
						<div class="modal-body">
							
							<div> <b>Name:</b>
							<input class="form-control" type="text"
								 id="selectedPersonName" required>
							</div><br>
							
							<div> <b>Email:</b>
							<input class="form-control" type="text"
								 id="selectedPersonEmail"  required>
							</div><br>
							
							<div> <b>Password:</b>
							<input class="form-control" type="text"
								 id="selectedPersonPassword"  required>
							</div><br>	 
															
<!-- 								<input -->
<!-- 								class="form-control" type="text"  -->
<!-- 								ng-model="selectedPerson.surname" required><br>  -->
								
<!-- 								<input class="form-control" -->
<!-- 								type="text"  ng-model="selectedPerson.adress" required> -->
						</div>
						<div class="modal-footer">
							<div>
								<button type="button" class="btn btn-primary btn-lg "
									data-dismiss="modal">İptal</button>
									
<!-- 									ng-click düzenlenecek -->
									<button value="submit" data-dismiss="modal" class="btn btn-primary btn-lg"
									ng-click="deleteData()">Sil</button>
								
								<button value="submit" data-dismiss="modal" class="btn btn-primary btn-lg"
									ng-click="putData()">Güncelle</button>
							</div>
						</div>
					</form>
					<!-- End | Register Form -->

				</div>
				<!-- End # DIV Form -->

			</div>
		</div>
	</div>
	<!-- END # USER MODAL DETAIL -->

	</div> <!-- user_modal_detail sonu -->


	<!-- JAVASCRIPT SOURCES -->
	<script type="text/javascript" src="./js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/i18n/grid.locale-en.js"></script>
	<script type="text/javascript" src="./js/jquery.jqGrid.min.js"></script>
	<script	type="text/javascript" src="./js/angular.min.js"></script>
	


	<!-- core js -->
	<script type="text/javascript" src="./js/department.js"></script>
	<script type="text/javascript" src="./js/user.js"></script>
	<script type="text/javascript" src="./js/core.js"></script>
	<script type="text/javascript" src="./js/company.js"></script>
	<script type="text/javascript" src="./js/ticket.js"></script>

</body>
</html>
