#nav_nickname{
  color: red;
	font-weight: bold;
}

#tickets_jqGridPager {
  height: 36px;
}

#users_jqGridPager {
  height: 36px;
}

#users_page{
  display: none;
}

#users_jqGridPager{
  height: 36px;
}

#profile_page{
  display: none;
}

#ticket_detail_page{
  display: none;
}
#remainingC{
	color:red;
	font-weight:italic;
}

#ticket_responses{
  word-break: break-all;
}
