body {
	/* 	font-family: 'Open Sans', 'sans-serif'; */
	background-color: #edeff2;
	font-family: "Calibri", "Roboto", sans-serif;
}

.btn-xs:hover {
	color: #edeff2;
	background-color: #AC2323;
}

#ticket_status {
	font-weight: bold;
}

.text-muted {
	font-weight: bold;
	color: #d20d1b;
}

.response_message {
	color: black;
}

.pull-right {
	padding-right: 17px;
	padding-bottom: 20px;
}

.panel-title {
	font-weight: bold;
	color: black;
}

#nav_nickname {
	color: #AC2323;
	font-style: italic;
}

#tickets_jqGridPager {
	height: 36px;
}

#users_jqGridPager {
	height: 36px;
}

#users_page {
	display: none;
}

#users_jqGridPager {
	height: 36px;
}

#profile_page {
	display: none;
}

#ticket_detail_page {
	display: none;
}

.responseMessageCountdown, .ticketMessageCountdown {
	color: red;
	font-style: italic;
}

#response_list {
	word-break: break-all;
}

#user_detail_msg, #add_user_modal_msg, #add_ticket_modal_msg,
	#delete_ticket_msg, #add_company_modal_msg, #delete_user_msg,
	#delete_user_modal_msg, #update_user_modal_msg, #update_user_msg,
	#edit_ticket_modal_msg, #close_ticket_modal_msg, #close_ticket_msg,
	#delete_ticket_modal_msg, #add_dep_modal_msg,
	#selected_company_modal_msg, #delete_company_modal_msg,
	#delete_company_msg, #update_company_modal_msg, #update_company_msg {
	font-size: 18px;
}

.navbar-brand {
	padding-top: 10px;
}

#brand_img {
	height: 35px;
}